<!Doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Show message</title>
</head>
<body>
  <h2>Message</h2>
  <p><%= mes %></p>
  <a href="/book">本のリンク</a><br>
  <a href="/db">都道府県のリンク</a><br>
  <a href="/public/test.html">test.htmlへのリンク</a><br>
</body>
</html>